.embla {
    max-width: 48rem;
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
  .embla__controls {
    display: grid;
    gap: 1.2rem;
    margin-top: 1.2rem;
    width: 100%;
  }
  .embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
    width: 100%;
  }
  .embla__button {
    -webkit-tap-highlight-color: rgba(49, 49, 49, 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.15rem rgb(234, 234, 234);
    z-index: 1;
    border-radius: 50%;
    color: rgb(54, 49, 61);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .embla__button:disabled {
    color: rgb(192, 192, 192);
  }
  .embla__button__svg {
    width: 35%;
    height: 35%;
  }
  .embla__selected-snap-display {
    justify-self: flex-end;
    align-self: center;
    color: rgb(116, 109, 118);
    font-weight: 600;
  }
  .embla-infinite-scroll {
    position: relative;
    flex: 0 0 15rem;
    min-width: 0;
    height: var(--slide-height);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .embla-infinite-scroll__spinner {
    display: none;
    border: 0.4rem solid rgba(49, 49, 49, 0.2);
    border-left: 0.4rem solid rgb(49, 49, 49);
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-indent: -9999em;
    animation: loading 1.1s infinite linear;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
  }
  .embla-infinite-scroll__spinner:after {
    border-radius: inherit;
    width: 5rem;
    height: 5rem;
  }
  .embla-infinite-scroll--loading-more > .embla-infinite-scroll__spinner {
    display: inline-flex;
  }
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  